@{
    ViewData["Title"] = "Contact US";
}

<div class="row">
    <div class="col-3">

        <div class="card">
            <div class="card-header">
                Conctact Us
            </div>
            <div class="card-body">
                <p class="card-title">Contact the designer</p>
                <p class="card-text">+1 (123) 4525</p>
                <p class="card-text">Info@MyEshop.com</p>
                <p class="card-text">#myEshop</p>
            </div>
        </div>

    </div>
    <div class="col-9">
        <div class="jumbotron">
            <h1 class="display-3">Welcome to my Eshop</h1>
            <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium dicta, molestias in itaque distinctio exercitationem magni, quisquam tenetur culpa libero corrupti
                minus quam, ratione dolorum cumque quae? Atque, in eum.</p>
        </div>
    </div>
</div>